

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Technomir Search</title>
</head>

<body>
    <h1>Technomir Search</h1>

    <div style="margin-bottom: 10px;">
        <form action="/logout" method="post" style="display:inline;">
            <button type="submit">Logout</button>
        </form>
    </div>

    <form method="post" action="/">
        <input type="text" name="partNum" placeholder="Enter part number" required>
        <button type="submit">Search</button>
    </form>

    {{if .}}
    <h2>Results:</h2>
    <ul>
        {{range .}}
        <li>
            Brand: {{.Brand}} | Code: {{.Code}}
            <ul>
                {{range .Stocks}}
                <li>Supplier: {{.PriceLogo}} | Price: {{.Price}}</li>
                {{end}}
            </ul>
        </li>
        {{end}}
    </ul>
    {{end}}
</body>

</html>


